Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import numpy as np
import pandas as pd

In [2]:
time = list(np.random.randint(1,10,20))
marks = list(np.random.randint(10,100,20))
time.sort()
marks.sort()

In [3]:
df = pd.DataFrame({'Time': time ,'Marks':marks})

In [4]:
df.corr(method='pearson')

           Time     Marks
Time   1.000000  0.892973
Marks  0.892973  1.000000

## More they study, more they score

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [5]:
time = list(np.random.randint(4,8,20))
level = list(np.random.randint(1,10,20))
time.sort()
level.sort()

In [6]:
df1 = pd.DataFrame({'Time':time,'Scale':level})

In [7]:
df1.corr(method='spearman')

           Time     Scale
Time   1.000000  0.959047
Scale  0.959047  1.000000

## More they sleep, better job satisfaction

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [8]:
time = list(np.random.randint(1,4,50))
bmi = list(np.random.randint(15,45,50))
time.sort()
bmi.sort()

In [9]:
df2 = pd.DataFrame({'Time':time, 'BMI':bmi})

In [10]:
df2.head()

   Time  BMI
0     1   15
1     1   16
2     1   17
3     1   18
4     1   18

In [11]:
pearson = df2.corr(method='pearson')

In [12]:
spearma = df2.corr(method='spearman')

In [13]:
pearson

          Time       BMI
Time  1.000000  0.879164
BMI   0.879164  1.000000

In [14]:
spearma

          Time       BMI
Time  1.000000  0.941218
BMI   0.941218  1.000000

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [15]:
time = list(np.random.randint(1,14,50))
activity = list(np.random.randint(1,10,50))
time.sort()
activity.sort()

In [16]:
df3 = pd.DataFrame({'Time':time,'Activity':activity})

In [17]:
df3.head()

   Time  Activity
0     1         1
1     1         1
2     1         1
3     1         1
4     1         1

In [18]:
df3.corr(method='pearson')

              Time  Activity
Time      1.000000  0.976332
Activity  0.976332  1.000000

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [19]:
age = [25,42,37,19,31,28]
pre = ['coke','pepsi','mountain dew', 'coke','pepso','coke']
df4 = pd.DataFrame({'Age':age,'Soft drink Preference':pre})

In [20]:
df4

   Age Soft drink Preference
0   25                  coke
1   42                 pepsi
2   37          mountain dew
3   19                  coke
4   31                 pepso
5   28                  coke

In [23]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
encoder = OneHotEncoder()

In [28]:
new = (encoder.fit_transform(df4[['Soft drink Preference']])).toarray()

In [31]:
new_df = pd.DataFrame(new)

In [32]:
df4_final = pd.concat([df4,new_df],axis=1)

In [33]:
df4_final

   Age Soft drink Preference    0    1    2    3
0   25                  coke  1.0  0.0  0.0  0.0
1   42                 pepsi  0.0  0.0  1.0  0.0
2   37          mountain dew  0.0  1.0  0.0  0.0
3   19                  coke  1.0  0.0  0.0  0.0
4   31                 pepso  0.0  0.0  0.0  1.0
5   28                  coke  1.0  0.0  0.0  0.0

In [34]:
df4_final.corr()

/tmp/ipykernel_147/4013275942.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df4_final.corr()

          Age         0         1         2         3
Age  1.000000 -0.837240  0.394132  0.689730  0.039413
0   -0.837240  1.000000 -0.447214 -0.447214 -0.447214
1    0.394132 -0.447214  1.000000 -0.200000 -0.200000
2    0.689730 -0.447214 -0.200000  1.000000 -0.200000
3    0.039413 -0.447214 -0.200000 -0.200000  1.000000

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [40]:
day = list(np.random.randint(1,15,30))
week = list(np.random.randint(10,100,30))

In [43]:
day.sort()
week.sort()

In [44]:
df5 = pd.DataFrame({'Per_Day':day,'Per_week':week})

In [46]:
df5.corr(method='pearson')

           Per_Day  Per_week
Per_Day   1.000000  0.982256
Per_week  0.982256  1.000000