Q1. What is data encoding? How is it useful in data science?

Encoding is the transformation of categorical variables to binary or numerical counterparts.     
Machine learning models can only work with numerical values. For this reason, it is necessary to transform the categorical values of the relevant features into numerical ones.

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

When we have a feature where variables are just names and there is no order or rank to this variable's feature. For example: City of person lives in, Gender of person, etc.

In [1]:
#Example
import pandas as pd

In [10]:
df = pd.DataFrame({'city':['a','b','c','a','c','b','c','b']})

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
encoder = OneHotEncoder()

In [6]:
encoded = encoder.fit_transform(df[['city']])

In [8]:
df1 = pd.DataFrame(encoded.toarray(), columns= encoder.get_feature_names_out())

In [9]:
pd.concat([df,df1],axis = 1)

  city  city_a  city_b  city_c
0    a     1.0     0.0     0.0
1    b     0.0     1.0     0.0
2    c     0.0     0.0     1.0
3    a     1.0     0.0     0.0
4    c     0.0     0.0     1.0
5    b     0.0     1.0     0.0
6    c     0.0     0.0     1.0
7    b     0.0     1.0     0.0

Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

It must me avoided when there is too many categorical data which will introduce many features which can cause overfitting.
For example, in case if Surname of students in a school.

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.

We can use One Hot Encodeing Technique as only 5 new features will me made so it will not be a problem

Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.

As each data in each categorical column will form one feature,so we will get a total of 100*2 new columns, that is 200

Q6. You are working with a dataset containing information about different types of animals, including their
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
a format suitable for machine learning algorithms? Justify your answer.

We can use one hot encoding or lable encoding as there will be no ranking and these caterogical data can be converted into numerical data

Q7.You are working on a project that involves predicting customer churn for a telecommunications
company. You have a dataset with 5 features, including the customer's gender, age, contract type,
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

We will use Target Guided Ordinal Encoding in this case. As only gender and contract type are categorical data

1) We will calculate mean of each type of categorical data     
2) We will replace the data with the mean calculated