Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some
algorithms that are not affected by missing values.

Missing value is the absence of data in a dataset that might be used in training the machine learning model.   
You may end up building a biased machine learning model, leading to incorrect results if the missing values are not handled properly.   

All the machine learning algorithms don't support missing values but some ML algorithms are robust to missing values in the dataset. The k-NN algorithm can ignore a column from a distance measure when a value is missing. Naive Bayes can also support missing values when making a prediction.

Q2: List down techniques used to handle missing data. Give an example of each with python code.

Missing values can be handeled by these methods:-    

1) Mean Value Imputation     
Using mean value of the entire numerical row in missing places.    

2) Median value Imputation   
Using mode value of the entire numerical row in missing places.     

3) Mode value Imputation     
Uning mode value of the entire categorical row in missing places.

In [5]:
import seaborn as sns
import numpy as np

In [2]:
df = sns.load_dataset('titanic')

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [6]:
#1
age_mean = np.mean(df['age'])

In [7]:
age_mean

29.69911764705882

In [8]:
df['age_mean'] = df['age'].fillna(age_mean)

In [10]:
#2
df['Age_median']=df['age'].fillna(df['age'].median())

In [11]:
#3
mode=df[df['age'].notna()]['embarked'].mode()[0]

In [12]:
df['embarked_mode']=df['embarked'].fillna(mode)

In [13]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_mean,Age_median,embarked_mode
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.0,22.0,S
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.0,38.0,C
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.0,26.0,S
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.0,35.0,S
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.0,35.0,S

Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

Imbalanced data refers to those types of datasets where the target class has an uneven distribution of observations, i.e one class label has a very high number of observations and the other has a very low number of observations. Imbalanced data set will lead algorithms to get good results by returning the majority. That will be a problem if you are interested in the minority more. So, balancing is a way to force the algorithm to give more weight to the minority.

Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down-
sampling are required.

Up-samplig is the process of increasing the number of a perticular datapoint in order to make the dataset more reliable and fit for training.   
Down-samplig is the process of decreasing the number of a perticular datapoint in order to make the dataset more reliable and fit for training.

Example, if there is 90% yes and 10% no, the model can always say yes with 90% accuracy but t will be a dumb model.

Q5: What is data Augmentation? Explain SMOTE.

Data augmentation is a set of techniques to artificially increase the amount of data by generating new data points from existing data. This includes making small changes to data or using deep learning models to generate new data points.        

Synthetic Minority Oversampling Technique (SMOTE) is a statistical technique for increasing the number of cases in your dataset in a balanced way. The component works by generating new instances from existing minority cases that you supply as input.

Q6: What are outliers in a dataset? Why is it essential to handle outliers?

Outliers are the observations in a dataset that deviate significantly from the rest of the data. In any data science project, it is essential to identify and handle outliers, as they can have a significant impact on many statistical methods, such as means, standard deviations, etc., and the performance of ML models.

Q7: You are working on a project that requires analyzing customer data. However, you notice that some of
the data is missing. What are some techniques you can use to handle the missing data in your analysis?

We can use Mean Value Imputation, Median value Imputation and Mode value Imputation

Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are
some strategies you can use to determine if the missing data is missing at random or if there is a pattern
to the missing data?

We can try to find relation between the columns so that we can identify that if a data is left empty be the user or is missing at complete random.

Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the
dataset do not have the condition of interest, while a small percentage do. What are some strategies you
can use to evaluate the performance of your machine learning model on this imbalanced dataset?

This is a case of outliers.

Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is
unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to
balance the dataset and down-sample the majority class?

We can use upsampling and down sampling

Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a
project that requires you to estimate the occurrence of a rare event. What methods can you employ to
balance the dataset and up-sample the minority class?

We can use up sampling techniques like SMOTE or data interpolation